/Anaconda3-2023.09-0-Linux-x86_64.sh
/Untitled-1
/__pycache__
/_output
/build
/cprof-out.py
/cy_mk_obs.py
/cy_simdata.py
/extra_json_settings.py
/init_dates_reall.csv
/ml_val_10062023_123635.csv
/ml_val_10062023_125654.csv
/ml_val_10062023_130109.csv
/ml_val_10062023_131043.csv
/nest.pxd
/nest_sim.cpython-310-x86_64-linux-gnu.so
/nestsim.c
/nestsim.cpython-310-x86_64-linux-gnu.so
/old
/old_scripts
/output.pstats
/output.txt
/output7oct2301.txt
/output8oct.py
/output8oct1818.txt
/profiler.py
/py_output
/py_output7oct1046.txt
/setup.py
/simdata.c
/simdata.cpython-310-x86_64-linux-gnu.so
/simdata.cpython-311-x86_64-linux-gnu.so
/simdata_notes
/simdata_notes.txt
/simuldata.c
/simuldata.cpython-310-x86_64-linux-gnu.so
/simuldata.py
/simuldata.pyx
/stormprob_real_.csv